@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

body {
    /* background-image: url("https://www.berdikarionline.com/cdn/2010/08/BK-revolusi.jpg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    font-family: Aboreto, system-ui, sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-container {
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
}

.content {
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(155, 155, 155, .5);
}

h1 {
    font-size:x-large;
}

h2 {
    font-size: large;
}

span.merah {
    color: red;
}

span.putih {
    color: white;
}

/* FLAG START */
#flag-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#tiang {
    width: 10px;
    height: 70vh;
    border-radius: 50px;
    background: rgb(155, 155, 155);
    box-shadow: -5px 0px 3px inset rgba(255, 255, 255, .3);
}

.unit-bendera-atas, .unit-bendera-bawah {
    width: 5px;
    height: 5px;
    animation: vertical 1s infinite;
}
.unit-bendera-atas {
    background: red;
}

.unit-bendera-bawah {
    background: white;
}

#bendera {
    display: flex;
}

@keyframes vertical {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(var(--displacement));
    }
}
/* FLAG END */

/* BUTTON START */
button {
    border: 2px solid red;
    color: red;
    font-size: 24px;
    border-radius: 20px;
    padding: 15px;
    font-family: inherit;
    cursor: pointer;
}

button:hover {
    font-weight: bold;
    color: darkred;
    background-color: white;
    border: 3px solid darkred;
}

button:active {
    font-size: 20px;
}
/* BUTTON END */

@media screen and (max-width: 1024px) {
    #tiang {
        width: 5px;
        height: 250px;
    }

    .unit-bendera-atas, .unit-bendera-bawah {
        width: 2.5px;
        height: 2.5px;
    }
}